.orderDetails {
  border: 1px solid #ccc;
  padding: 16px;
}

.buttonDiv {
  margin-top: 16px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.button-next {
  margin-top: 16px;
}
